<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
            h1{
                font-family: 'Roboto', sans-serif;
            }
            .header{
                padding: 10px;
                background-color: red;
                color: white;
            }
        </style>
        <title>
            F1-API
        </title>
    </head>
    <body>
        <div class = "header">
            <center>
                <h1>
                    F1-API
                </h1>
            </center>
        </div>
        
    </body>
</html>