@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
  }
.header{
    padding: 10px;
    background-color: red;
    color: white;
}
a{
  color: red;
}

code{
  text-align: center;
  background-color: pink;
  height: max-content;
}