@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.title{
  font-family: 'Roboto', sans-serif;
  }
.header{
    padding: 10px;
    background-color: red;
    color: white;
}
a{
  color: red;
}
code{
  text-align: left;
  background-color: palevioletred;
  color: white;
  height: max-content;
  /* padding: 15px; */
  /* display: block;
  white-space: pre-wrap    */
}
pre{
  background-color: palevioletred;
  color: white;   
  padding: 15px;
}

.data{
  text-align: left;
  width: fit-content;
}

.apiTitle{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}